<div class="card col" *ngIf="student">
    <div class="card-header">
        <small> <i class="fa fa-stumbleupon" aria-hidden="true"></i> Student Detail </small>
        <a class="pull-right" routerLink="../"><i class="fa fa-th-list" aria-hidden="true"></i></a>
    </div>
    <div class="card-block">
        <div class="form-group">
            <label for="name">ID</label>
            <input type="text" class="form-control" required [(ngModel)]="student.id" name="name" #name="ngModel">

        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" required [(ngModel)]="student.name" name="name" #name="ngModel">

        </div>
        <div class="form-group">
            <label for="name">Standard</label>
            <input type="text" class="form-control" required [(ngModel)]="student.std" name="name" #name="ngModel">

        </div>
        <div class="form-group">
            <label for="name">Section</label>
            <input type="text" class="form-control" required [(ngModel)]="student.div" name="name" #name="ngModel">

        </div>
    </div>
</div>