<!-- Exact copy from earlier app.component.html -->
<!--<h1 highlight>{{title}} {{subtitle}}</h1>-->
<span *ngIf="user">
    <small>Welcome, {{user}} <i class="fa fa-user-o" aria-hidden="true"></i></small>
    <span>